
:root{
  --color: #4d88ff;
  --second-color: #b3ccff;
}

body {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 50vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

#root{
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 10% 65% 25%;
  height: 100%;
}

.dark{
  background:#404040;
  color: white;
}

.light{
  background: white;
  color: black;
}

.app{
  box-shadow: 0 0 1em black;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-radius: 15px;
  height: fit-content;
}

@media screen and (min-width: 768px){
  .app{
    display: flex;
    height: 45vw;
  }
}