body {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: url('https://cdn.pixabay.com/photo/2020/09/10/03/02/mountains-5559099_1280.png');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
